*{ 
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #04111E;
    padding: 0 60px;
}
#menu-header{
    display: flex;
    justify-content: center;
    gap: 60px;
    list-style: none;
    margin: 0;
    align-items: center;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}
nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    height: 100px;
   position: relative;
}
nav ul li a{
    color: rgb(133, 133, 133);
    text-decoration: none;
   transition: .2s;
   font-weight:600px ;
}
nav ul li a:hover{
    color:white;
}
button{
    cursor: pointer;
    border-radius: 18px;
    padding: 10px;
    transition:.3s;
    color: white;
    margin-left: auto;
}
button:hover{
        background-color: #3599DF;
}
button a{
    text-decoration: none;
    color:black;
    font-weight: 600px;
}
button a:hover{
    color: white;
}
button a span{
    color: #004c8a;
    font-weight: bold;
}
button a span:hover{
    color: #008cff;
}
.logo img{
    width: 250px;
    background-size: cover;
    flex: 1;
    filter: brightness(1.5) contrast(1.1);
}
.primeira_parte{
    display: flex;
    gap: 360px;
}
.texto h1{
    margin-top: 140px;
    margin-left: 60px;
    line-height: 48px;
    color: white;
    font-size: 38px;
    white-space: pre-line;
    font-weight: bold;

}
.primeira_parte h1 span{
    color: #008cff;
}
.texto p{
    margin-top: 15px;
    margin-left: 60px;
    line-height: 40px;
    font-weight: 400px;
    color: white;
    font-size: 30px;
    white-space: pre-line;
}
.img-p1 img{
    width: 500px;
}
